<!-- Navbar -->
<nav class="navbar navbar-light mb-5" style="background-color: #d7ecff;">
	<div class="container">
		<a class="navbar-brand mx-auto" href="/">
			<img src="/images/chandpe_logo.png" height="100" alt="logo" class="d-inline-block align-top pull-left">
		</a>
	</div>
</nav>